/* add background color to nav bar*/
.nav{
    background:#008b8b;
	padding: 15px;
	background-size: cover
}

/* override nav bar button color */
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{
    background-color:#ffffff;
	color:#212529
}

/* override nav bar text color  #495057 */
.nav-link{
    color:#f8f8f8
}

/* override nav bar text hover color */
.nav-link:focus,.nav-link:hover{
    color:#c3b299
}