
/* override nav bar button color */
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{
    background-color:#008b8b
}

/* override nav bar text color */
.nav-link{
    color:#008b8b;
}

/* override nav bar text hover color */
.nav-link:focus,.nav-link:hover{
    color:#16b7ba
}